.cart-container {
    flex: 1;
    padding: 20px;
    background-color: #244855;
    color: white;
}
.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.cart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.cart-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #f7f1e8;
}

.cart-item h3 {
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.cart-item h3 {
    font-size: 16px;
    margin: 10px 0;
}
.cart-item .rating {
    margin-bottom: 10px;
}
.cart-item .price {
    font-size: 16px;
    color: red;
    margin: 10px 0;
}
.cart-item .price .old-price {
    text-decoration: line-through;
    margin-right: 5px;
    color: #555;
}
.cart-item button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.checkout-form {
    margin-top: 40px;
}
.checkout-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.checkout-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.checkout-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.checkout-form input, 
.checkout-form textarea, 
.checkout-form select {
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
}
.subscribe-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.checkout-summary {
    grid-column: 2 / 3;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buttons-wrapper {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}